.el-dropdown-link {
    cursor: pointer;
    color: #ccc;
    font-weight: bold;
    font-size: 16px;
    margin-right: 50px;
}

.el-dropdown-item {
    color: #666;
    font-size: 16px;
}

.el-dropdown {
    top: 25px;
    left: 260px;
}

.head_con .menu_icon {
    display: none;
}

.left_menu {
    display: none;
}

@media screen and (max-width: 768px ) {
    .el-dropdown-link {
        color: #0A43C8;
        font-weight: bold;
        font-size: 16px;
        margin-right: 50px;
        left: 0;
    }
    .left_menu {
        display: block;
    }
    .head_con{left: 20%;}
    .el-dropdown {
        display: none;
    }
    .logo {
        margin-left: 50px;
    }
    .head_con .menu_icon {
        display: block;
        height: 18px;
        width: 20px;
        position: absolute;
        left: 0px;
        top: 25px;
    }
}
